header {
    background-color: rgba(0, 0, 0, 0.438);
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.logo img {
    height: 50px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.hotline-no p {
    border: 2px solid white;
    display: flex;
    align-items: center;
    color: white;
    padding: 8px 10px;
    font-size: 18px;
}

.carousel-item img {
    object-fit: cover;
}

.explore {
    background-color: rgba(0, 0, 0, 0.468);
    padding: 20px 0;
    width: 100%;
    position: absolute;
    bottom: 100px;
    text-transform: uppercase;
}

.explore .container {
    display: flex;
    gap: 200px;
}

.explore a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.explore .nav {
    display: flex;
    gap: 40px;
}